
     <header>
        <a class="logo" href="/admin/adminCatalog" >BRANDHOUSE</a>
        <!-- <div class="burger-cont"> -->
            <nav class="catalog" id="catalog">
                 <a href="/admin/creationCard">Создать товар</a>
            </nav>
            <div class="search-container" id="searchCont">

                <div href="" id="user"><img src="/img/user-img.png" class="user-img" ></div>
                <input type="text" placeholder="Поиск..." class="searchInput">
                
            </div>
            <button class="burger-menu" id="burgerMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        <!-- </div> -->
       
    </header>