<footer>
    <div class="contact-info">
        <a href="/brandhouse/paymentInfo">Оплата</a>
        <a href="/brandhouse/deliveryInfo">Доставка</a>
        <a href="/brandhouse/aboutUs">О нас</a>
    </div>
</footer>