

     <header>
        <a class="logo" href="/" >BRANDHOUSE</a>
        <!-- <div class="burger-cont"> -->
            <nav class="catalog" id="catalog">
                <a href="/brandhouse/catalog?sex=Male&type=&brand=&title=">МУЖЧИНАМ</a>
                <a href="/brandhouse/catalog?sex=female&type=&brand=&title=">ЖЕНЩИНАМ</a>
                <a href="/brandhouse/catalog?sex=&type=shoes&brand=&title=">ОБУВЬ</a>
                
            </nav>
            <div class="search-container" id="searchCont">
                <a href="/brandhouse/shopping-cart"><img src="/img/shopping-icon.png" alt="" class="shopping" href=""></a>
                <div href="" id="user"><img src="/img/user-img.png" class="user-img" ></div>
                <input type="text" placeholder="Поиск..." class="searchInput">
                
            </div>
            <button class="burger-menu" id="burgerMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        <!-- </div> -->
       
    </header>