body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.product-card {
   
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
.product-card .img-box{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prod-name{
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}
.prod-article{
    font-size: 18px;
    margin: 0 0 20px 0;
    color: #777;
}
.product-price{
    font-size: 32px;
    font-weight: 600;
}
.product-card img {
    
    max-width: 100%;
    border-radius: 15px;
    /* margin-bottom: 15px; */
}
.product-info{
    max-width: 40%;
    position: relative;
}

.size-selection{
    margin: 30px 0 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}
.size-box{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: white;
    border: 1px #777 solid;
    border-radius: 5px;
    color: #333;
    width: 41px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.size-box:hover{
    background-color: #ddd;
}
.size-box_active{
    color: #ffffff;
    background-color: #3b82f6;
    transition:  0.3s;
}
.size-box_active:hover{
    background-color: #2563eb;
}
.quantity-selection{
    display: flex;
    
}
.sale-price{
    font-size: 32px;
    color: black;
    margin-bottom: 10px;
}
.old-price{
    font-size: 18px;
    color: #333;
    text-decoration: line-through;
}
.quantity-elem{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    background-color: white;
    border: 1px rgb(156, 156, 156) solid;
    cursor: pointer;
    user-select: none;
}
.quantity-elem:nth-child(2){
    cursor:default;
}

/* .size-selection, .quantity-selection {
    margin: 10px 0;
    text-align: left;
} */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.btn {
    /* position: absolute; */
    top:calc(100% - 45px);
    margin-top: 20px;
    background-color: #3b82f6;
    border: none;
    color: white;
    padding: 12px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    
    transition: background-color 0.3s, transform 0.2s;
   
    
}
.btn:hover {
    background-color: #2563eb;
    transform: translateY(-2px);
}
.btn:active {
    transform: translateY(0);
}



/* -------------------swiper */
.swiper{
    max-width: 500px;
    margin: 0 !important ;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

/* .swiper__img-box img{
    width: auto;
} */


/* ------------------  review-slider*/
.container {
    justify-content: center;
    display: flex;
    width: 100%;
    /* max-width: 1500px; */
   
  }
  
  .reviews-section {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    
    max-width:1200px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .swiper-review-slider {
    width: 100%;
    /* height: 300px; */
    margin-bottom: 40px;
    overflow: hidden;
    
  }
  .review-slider-wrapper{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    padding: 20px 5px;
  }
  .review-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 300px;
  }
  
  .swiper-slide{
    display: flex !important;
    justify-content: center;
    height: auto !important;
  }
  
  .swiper-pagination{
    position: unset !important;
  }
  .review-card h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .stars {
    color: #ffd700;
    margin-bottom: 10px;
  }
  
  .review-text {
    color: #666;
    line-height: 1.6;
    overflow-wrap: break-word
  }
  
  #rating,#rating option{
    color: #ffd700;
  }
  
  .review-form {
    margin-top: 40px;
    padding-top: 30px;
    padding: 20px;
    border-top: 1px solid #eee;
  }
  
  .review-form h3 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .container input, .container select, .container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  .container button {
    background: #3b82f6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: 0.3s ease;
  }
  
  .container button:hover {
    background: #2563eb;
  }
  
  
  /* .swiper-pagination-bullet-active {
    background: #4CAF50;
  } */


  @media (max-width: 1024px) {
    .product-card{
    gap: 20px;
    justify-content: unset;
    }
    .review-slider-wrapper{
      justify-content: unset;
    }
  }



  @media (max-width: 630px) {
    .product-card{
    flex-direction: column;
    align-items: center;
    }
    .product-info{
      max-width: 100%;
    }
  }