body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'UNCAGE-Medium',Arial, Helvetica, sans-serif;
}
.auth-box{
    letter-spacing: 1.5px;
}
.background {
    /* background-image: url('https://wallpapercat.com/w/full/4/c/2/17001-3840x2160-desktop-4k-mountain-wallpaper.jpg'); */    background-size: cover;
    filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.button-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    
}
.button-block a{
    letter-spacing: 1.0px;
    color: #535353;
    font-size: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.auth-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 300px;
}

input[type="email"], input[type="password"] {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

/* .input_error {
    display: block;
    border: 1px solid red;
} */

button {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s;
}
button:hover{
    background-color: #308ef3;
}

.error {
    color: red;
    font-size: 10px;
    display: none;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.error_none {
    
    display: flex;

}